<form action="/admin/upload_video" method="post" enctype="multipart/form-data">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="video_file">
      Upload Video
    </label>
    <input
      type="file"
      name="video_file"
      id="video_file"
      accept="video/mp4"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <button
    class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit"
  >
    Upload Video
  </button>
</form>

<!-- List of Uploaded PDFs -->
<div class="mt-6">
  <h2 class="text-lg font-bold mb-4">Uploaded Videos</h2>
  <ul class="list-disc pl-5">
    {% for video in videos %}
    <li class="mb-2">
      <a
        href="/static/videos/{{video }}"
        class="text-blue-500 hover:underline"
        target="_blank"
      >
        {{ video }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
