<form action="/admin/upload_pdf" method="post" enctype="multipart/form-data">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="pdf_file">
      Upload PDF
    </label>
    <input
      type="file"
      name="pdf_file"
      id="pdf_file"
      accept="pdf/*"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <button
    class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit"
  >
    Upload Pdf
  </button>
</form>

<!-- List of Uploaded PDFs -->
<div class="mt-6">
  <h2 class="text-lg font-bold mb-4">Uploaded PDFs</h2>
  <ul class="list-disc pl-5">
    {% for pdf in pdfs %}
    <li class="mb-2">
      <a
        href="/static/pdfs/{{pdf }}"
        class="text-blue-500 hover:underline"
        target="_blank"
      >
        {{ pdf }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
