<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: radial-gradient(
          circle,
          rgb(251, 63, 185) 0%,
          rgb(8, 5, 5) 100%
        );
      }
      h1 {
        color: #f6c6ce;
        text-shadow: black 3px 3px 1px;
      }
    </style>
  </head>
  <body class="">
    <div class="mx-auto p-4 w-full max-w-2xl">
      <img
        src="/static/genaistudio.png"
        alt="Genaistudio"
        class="max-w-sm mx-auto"
      />
      <h1 class="text-3xl font-bold text-center my-8">Screen Url Manager</h1>
      <form
        action="/admin/update"
        method="post"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      >
        {% for i in range(5) %}
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="screen1"
          >
            Screen {{i+1}} URL
          </label>

          <div class="flex items-center">
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              name="screen{{i+1}}"
              value="{{ screens['screen' ~ (i+1)] }}"
            />
            <button
              class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
              name="update"
              value="screen{{i+1}}"
            >
              Update
            </button>
          </div>
        </div>
        {% endfor %}

        <div class="flex items-center justify-between">
          <button
            class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            name="update"
            value="all"
          >
            Update All
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
